.note {
    display: flex;
    justify-content: flex-start;
    color: black;
    overflow-y: auto;
    margin: 10px;
    background: #d9d9d9;
    border-radius: 8px;
}

.editNote {
    display: flex;
    justify-content: flex-start;
    color: black;
    overflow-y: auto;
    margin: 10px;
}

.noteHashMessage {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.id {
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    width: 150px;
    font-weight: bold;
    background: #08979c;
    color: black;
    overflow-y: auto;
    border-radius: 5px;
}

.noteMessage {
    display: flex;
    padding: 5px;
    justify-content: flex-start;
    text-align:left;
}

.error {
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
    overflow-y: auto;
    background-color: chartreuse;
}
