.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    width: 80%;
}
.tagsPage {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 20vh;
    flex-wrap: wrap;
}
.title{
    color: black;
}
::-webkit-scrollbar{
    background-color: #bfbfbf;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: #08979c;
}
*{
    scrollbar-color: #bfbfbf #08979c;
    scrollbar-width: thin;
}

.notesTable {
    overflow-y: auto;
    height: 500px;
}
.titleTable{
    display: flex;
    justify-content: flex-start;
    gap:100px;
    padding-left: 10px;
}